# Executables, dSYM
*.out
*.out.*

*.gcno
*.gcda

subprojects/pybind11*/
subprojects/Catch2*/
subprojects/fmt-*/
subprojects/packagecache/

__pycache__/
dist/
built_wheel/
build/

**/out/
**/.re-cache/
**/.vscode/

**/re.user.yml

**/.cache/
**/compile_commands.json

*.id0
*.id1
*.id2
*.nam
*.til
*.ilk
*.pdb
*.exe

**/__pycache__